body{
    background: #f2f2f2;
}
.container{
    width: 960px;
    margin: 0 auto;
}
/* 头部 */
#header{
    height: 67px;
    background: #333;
}
.header-inner{
    height: 67px;
    background: #333;
}
/* 头部logo */
.logo{
    width: 260px;
    height: 67px;
    background: url('../images/login-logo.jpg') no-repeat;
}
.logo a{
    display: block;
    width: 260px;
    height: 67px;
    text-indent: -9999px;
}
/* 主体部分 */
/* 切换 */
.tab{
    height: 36px;
    line-height: 36px;
    margin-top: 30px;
}
.tab>a{
    float: left;
    width: 146px;
    height: 36px;
    background: #ccc;
    margin-right: 12px;
}
.tab>a.activ{
    background: #b40707;
}
.tab>a i.phone-ico{
    float: left;
    width: 14px;
    height: 22px;
    background: url('../images/reg-img01.png') no-repeat 0 -17px;
    margin: 7px 18px 7px 26px;
}
.tab>a i.mail-ico{
    float: left;
    width: 22px;
    height: 17px;
    background: url('../images/reg-img01.png') no-repeat;
    margin: 9px 12px 9px 16px;
}
.tab>a span{
    float: left;
    color: #fff;
    font-size: 14px;
}
.tab>p{
    float: right;
}
.tab>p a{
    color: #007dff;
}
.tab>p a:hover{
    color: #0064CC;
}
/* 信息填写 */
.info{
    background: #ffff;
    padding: 38px 0;
}
.info .info-box{
    width: 424px;
    margin: 0 auto;
}
/* 空隙 */
.info .space{
    margin: 10px 0;
    height: 10px;
    background: #fff;
    border: 0;
}
/* 填写行 */
.info .box{
    margin-bottom: 10px;
}
.info .box>div{
    width: 424px;
    height: 42px;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 21px;
    font-size: 16px;
}
.info .box label{
    color: #333;
    float: left;
    width: 122px;
    height: 42px;
    line-height: 42px;
    text-align: justify;
    border-right: 1px solid #ccc;
    border-radius: 21px 0 0 21px;
    padding: 0 16px;
    background: #f7f7f7;
    box-sizing: border-box;
}
.info .box label:after{
    content: " ";
    display: inline-block;
    width: 100%;
}
.info .box .phone label{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hint{
    line-height: 22px;
    margin-left: 10px;
    color: #ff3322;
}
/* 填写框 */
.info .box input{
    float: left;
    width: 302px;
    height:41px;
    line-height: 41px;
    padding: 0 20px;
    background: #f7f7f7;
    border-left: 0;
    border-radius: 0 21px 21px 0;
    box-sizing: border-box;
}
/* 国家选择 */
.sel-nation{
    float: left;
    width: 302px;
    height:41px;
    line-height: 41px;
    padding: 0 40px 0 20px;
    border-left: 0;
    border-radius: 0 21px 21px 0;
    box-sizing: border-box;
    color: #333;
    background: #f7f7f7 url('../images/triangle_green.png') no-repeat 270px 18px;
}
/* 国家列表 */
.nation-list{
    position: absolute;
    top: 42px;
    left: 122px;
    width: 286px;
    height: 186px;
    overflow: auto;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px #999;
    z-index: 10;
    display: none;
}
.nation-list li{
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0 15px;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
}
.nation-list li:hover{
    background: #cce5ff;
}
/* 验证按钮 */
.verify div{
    float: left;
    width: 42px;
    height: 42px;
    position: relative;
}
.verify h2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 24px;
    height: 24px;
    background: url(../images/sprite.1.0.3.png) no-repeat 0 -161px;
}
.verify div p.blue{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 12px;
    height:12px;
    background: url("../images/step_blue.png") no-repeat;
    background-size: 100% 100%;
    z-index: 10;
}
.verify div p.gray{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30px;
    height:30px;
    border-radius: 50%;
    background: #c5daf9 url("../images/step_gray.png") no-repeat;
    background-size: 100% 100%;
}
.verify{
    background: linear-gradient(#f1f1f1, #fefefe);
    line-height: 42px;
    cursor: pointer;
}
.verify:hover{
    background: linear-gradient(#fefefe, #f1f1f1);
}
.verify span{
    float: left;
    margin-left: 10px;
    font-size: 14px;
    color: #666;
}
/* 获取短信验证码 */
.verify-code a{
    position: absolute;
    right: 12px;
    top: 1px;
    color: #007DFF;
    width: 90px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #f7f7f7;
}
.info div.verify-code input{
    padding-right: 100px;
}
/* 密码验证提示 */
.verify-pwd{
    position: absolute;
    bottom: 55px;
    left: 0;
    right: 0;
    width: 284px;
    height: 154px;
    border-radius: 20px;
    box-shadow: 0 0 15px #666;
    background: #fff;
    margin: auto;
    padding: 20px 30px;
    box-sizing: border-box;
    font-size: 12px;
    display: none;
}
.verify-pwd h3{
    color: #333;
    margin-bottom: 10px;
}
.verify-pwd p{
    color: #7f7f7f;
    line-height: 18px;
}
.verify-pwd div{
    margin-top: 20px;
    color: #b40707;
}
.verify-pwd p i{
    display: inline-block;
    width: 12px;
    height: 12px;
    background: url('../images/verify-pwd.jpg') no-repeat -1px 0;
    margin: 0 4px;
}
.verify-pwd b{
    position: absolute;
    bottom: -8px;
    left: 0; 
    right: 0;
    margin: auto;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-bottom: 0;
    border-top-color: #fff;
}
/* 注册按钮 */
.sub{
    display: block;
    width: 200px;
    height: 40px;
    line-height: 40px;
    background: #b40707;
    border-radius: 20px;
    text-align: center;
    color: #fff;
    margin: 30px auto 10px;
}
/* 底部 */
.footer-inner{
    overflow: hidden;
    margin-bottom: 20px;
}
.footer-inner p{
    text-align: center;
    color: #999;
    line-height: 24px;
}
.footer-inner p a{
    padding: 0 5px;
    color: #999;
}
.footer-inner p b{
    display: inline-block;
    width: 1px;
    height: 10px;
    background: #999;
}
.footer-inner p.line{
    height: 1px;
    background: #d7d7d7;
    margin: 30px 0;
}